.wrapper{
 padding: 5px;
  width: 480px;
  max-height: 350px;
  border: 2px solid #66D9FF;
  border-radius: 10px;
  background-color: #000000;
  margin: 5px;
}
.display{
  display: flex;
  flex-direction: column;
  align-items:  center;
  justify-content: center;
  height: 250px;
  background-color: #000000;
  border-radius: 5px;
  margin: 10px auto;
  border:2px solid #66D9FF;
  color: #66D9FF;
}

.value{
  display: block;
  font-size: 60px;
  font-weight: 700;

}

.tools{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  border: 2px solid #66D9FF;
  border-radius: 5px;
  margin: 0 auto;
}

.label{
  font-size: 26px;
  font-weight: 700;
  color: #66D9FF;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.input{
  border: 2px solid #66D9FF;
  border-radius: 2px;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  &:focus{
    outline: none;
  }
}

.error{
  border: 2px solid red;
  background-color: red;
}


